<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>index2</title>
</head>
<body>
<!--hello 第一个Thymeleaf程序
<div th:text="${name}">name是bigsai(我是离线数据)</div>-->

<h2>JavaBean对象2</h2>
<table bgcolor="#ffe4c4" border="1">
    <tr>
        <td>介绍2</td>
        <!--<td th:text="${user.name}"></td>-->
    </tr>
    <tr>
        <td>年龄2</td>
        <!--<td th:text="${user['age']}"></td>-->
    </tr>
    <tr>
        <td>链接2</td>
        <!--<td th:href="index.html">a链接</td-->>
    </tr>
    <tr>
        <td>介绍2</td>
        <!--<td th:text="${user.getDetail()}"></td>-->
    </tr>
</table>
</body>
</html>